@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ProAware</title>
</head>
<body>
<div>
    You have successfully log out from the application

    <a href="~/home">Login again</a>
</div>
</body>
</html>