$icomoon-font-path: "fonts" !default;

$icon-pro-aware_pro-aware-cards: \e900;
$icon-pro-aware_pro-aware-messages: \e901;
$icon-pro-aware_pro-aware-next: \e902;
$icon-pro-aware_pro-aware-previous: \e903;
$icon-pro-aware_pro-aware-scoreboard: \e904;
$icon-pro-aware_pro-aware-service: \e905;
$icon-pro-aware_pro-aware-todo: \e906;
$icon-pro-aware_pro-aware-checkpoints: \e907;
$icon-pro-aware_pro-aware-events: \e908;
$icon-pro-aware_pro-aware-home: \e909;
$icon-pro-aware_pro-aware-measures: \e90a;
$icon-pro-aware_pro-aware-news: \e90b;
$icon-pro-aware_pro-aware-projects: \e90c;

